.main-footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  border-top: 0.1rem solid #6c757d;
}

.content_footer {
  margin-bottom: 1.5rem;
}

.content_footer p {
  margin: 0.5rem 0;
  font-size: 2rem;
}

.contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.contact-footer li {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.contact-footer li i {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.contact-footer li:hover {
  color: #adb5bd;
  cursor: pointer;
}

@media (max-width: 76.8rem) {
  .content_footer p {
    font-size: 1.5rem;
  }
  .contact-footer li {
    font-size: 1.5rem;
  }
}
